.app-logo {
    font-family: "Lucida Sans Typewriter", "Lucida Console", monaco, "Bitstream Vera Sans Mono", monospace;
    font-size: 1.2em;
    text-transform: uppercase;
    letter-spacing: 5pt;
    font-weight: 300;
    padding: .1em .7em;
}
